@tailwind base;
@tailwind components;
@tailwind utilities;

.leer ul>li {
  list-style: circle;
  list-style-position: inside;

}

.leer ol>li {
  list-style: decimal;
  list-style-position: inside;
}